@model TechnoShop.Models.ViewModel.UserViewModel
@using PagedList.Mvc

@{
    Layout = "";
    var listUserRole = ViewData["listUserRole"];
}

@foreach (var user in Model.PageList)
{
    <tr>
        <td>@user.User_ID</td>
        <td><a href="#">@user.Username</a></td>
        <td>04/10/2020</td>
        <td>@user.RoleName</td>
        @if (user.Status == true)
        {
            <td style="display: flex; align-items:center;"><span class="status text-success">&bull;</span> Active</td>
        }
        else
        {
            <td style="display: flex; align-items:center;"><span class="status text-danger">&bull;</span> Deactive</td>
        }
        <td>
            <a href="#" class="settings" title="Settings" data-toggle="tooltip">
                <i class="material-icons">&#xE8B8;</i>
            </a>
            <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                <i class="material-icons">&#xE5C9;</i>
            </a>
        </td>
    </tr>
}
