body{
    background: url(Picture9-2.png) ; 
    font-family: sans-serif;
    background-position: center;
    margin: 0 auto;  
    background-size: cover;
    padding: 0;
}
.login{
  width: 300px;
  height: 350px;
  background-color: white;
  border: 1px solid grey ;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.login h2{
    display: inline-block;
    color: black;
}
.login input{
   width: 200px;
   height: 40px;
   border-radius: 5px;
   border: 1px solid gray;
   padding-left: 20px;
   margin-bottom: 10px;
   margin-top: 10px;
}
.check input{
    width: 15px;
    height: 15px;
}
.login button {
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #2691d9;
    color: white;
}
p {
    display: inline-block;
    float: left;
    padding-left: 40px;
    margin: 0px;
}
.check{
    float: left;
    padding-left: 40px;
    margin-bottom: 1px;

}
.login a{
    float:left ;
    padding-left: 40px;
    text-decoration: none;
    margin-top: 10px ;
    text-decoration: underline;
    color: #2691d9;
}
.dangky{
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid grey ;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
  }
  .dangky h2{
      display: inline-block;
      color: black;
  }
  .dangky input{
     width: 200px;
     height: 40px;
     border-radius: 5px;
     border: 1px solid gray;
     padding-left: 20px;
     margin-bottom: 10px;
     margin-top: 10px;
  }
  .check input{
      width: 15px;
      height: 15px;
  }
  .dangky button {
      width: 220px;
      height: 40px;
      border: none;
      border-radius: 25px;
      background-color: #2691d9;
      color: white;
  }
  p {
      display: inline-block;
      float: left;
      padding-left: 40px;
      margin: 0px;
  }
  .check{
      float: left;
      padding-left: 40px;
      margin-bottom: 1px;
  
  }
  .dangky a{
      float:left ;
      padding-left: 50px;
      text-decoration: none;
      margin-top: 10px ;
      text-decoration: underline;
      color: #2691d9;
  }
