.listlogo img {
	height: 52px;
	width: 52px;
}
.div1 input{
	border: 2px solid purple;
  border-radius: 4px;
}
.listlogo {
	text-align: right;
}
.menu nav ul li {
	display: inline-block;
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  padding: 20px;
  text-align: center;
}
.menu nav ul li img {
	height: 32px;
	width: 52px;
}
.menu form {
	text-align: right;
}
.menu form input.buttongh{
	background-image: url(https://png.pngtree.com/png-vector/20191124/ourlarge/pngtree-shopping-cart-icon-simple-png-image_2028930.jpg);
}
.tieude{
	background-color: #C0C0C0
}
.than{
	display: flex;
}
.left {
	padding: 50px;
	padding-right: 200px;
	padding-bottom: 200px;
}
.right {
	background-color: #C0C0C0;
	display: flex;
	padding-bottom : 10px;
	

}

.input3 img{
	height: 200px;
	width: 200px;

}
.input2 {
	text-align: center;
	padding: 30px;
	padding-right: 100px;

}

.input2  button{
	border-radius: 2px;
	background-color: #D2691E;
	box-shadow: 3px 3px #989898;
}
.input3 {
	padding: 200px;
	text-align: center;
	padding-right: 500px;
}
.input3 input {
	border-radius: 2px;
	background-color: #D2691E;
	box-shadow: 3px 3px #989898;
}
.finish {
	background-color: #D2691E;
}
.finish nav ul li {
	display: inline-block;
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  padding: 40px;
  text-align: center;
}
